html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #D0D0D0;
    margin:0px;
    padding: 0%;
}
body{
    background-color: #fff;  
    width:100vw;
    height: 100vh;
    margin:0px;
    padding: 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows:6% 78% 14%;
    grid-template-areas:"head"
                        "main"
                        "foot";
}
/* ul{
    list-style: none; //Already given in reset.css
} */
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: underline;
}
header{
    grid-area:head;
    background-color: rgb(255, 255, 255);
    /* display: grid; */
    /* width: 100vw; */
    /* height: ; */
}
.navbar{
    /* border:1px black solid; */
    /* background-color: #D0D0D0; */
    display: block;
}
.navlist{
    display: flex;
    /* background-color: yellow; */
    /* flex-wrap: wrap; */
    /* float: right; */
    flex-direction: row;
    /* margin:5px; */
    /* padding: 5px; */
}
.navitem{
    /* background-color: #FFDFDF; */
    margin: 0 0.5%;
}
#header-navlist{
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
    padding-right:20px;
}
main{
    grid-area:main;
    display: grid;
    /* width: 100vw; */
    /* height: %; */
    /* background-color: blueviolet; */
    grid-template-rows:repeat(10,9vh);
    grid-template-columns: repeat(10,10vw);
}

.main-content{
    /* background-color: #FF00FF; */
    grid-row:2/8;
    grid-column: 1/11;
    justify-self: center;
    display: grid;
    width: 100%;
    /* margin:0 auto; */
    grid-template-columns: 100%;
    grid-template-rows: 35% 40px 70px;
    grid-row-gap:5px;
    grid-template-areas:"image"
                        "search-box"
                        "buttons";
    justify-items: center;
}
/* .main-content button{
    padding: 0;
    font-size: 12px;
} */
.main-content .logo{
    grid-area: image;
    justify-self: center;
    /* background-color: #D0D0D0; */
    /* image-rendering: pixelated; */
}
.main-content .input-box{
    display: flex;
    grid-area: search-box;
    width:70%;
    align-content: center;
    background-color: #FFF;
    border:#D0D0D0 1px solid;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-content: center; */
    /* padding: 0.5%; */
    box-sizing: border-box;
    border-radius: 30px;
    /* border-radius:25%; */
    /* align-content: center; */
    /* justify-content: space-around; */
}
.main-content .input-box:hover{
    /* box-shadow:5px 5px white; */
    border:2px solid #D0D0D0;
}
.main-content .input-box .search-icon{
    margin: 2px 0 0 10px;
    width: 10%;
}
.main-content .input-box #search-box{
    margin: 0 auto;
    opacity: transparent;
    display: hidden;
    width: 80%;
    border:transparent;
}
.main-content .buttons{
    grid-area:buttons;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.main-content .buttons .button{
    /* padding: 1%; */
    box-sizing: border-box;
    margin:20px;
    /* background-color: white; */
    border-radius: 2px;
    
}
.main-content .buttons .button:hover{
    border:#000 solid 1px;  
}
footer{
    grid-area:foot ;
    /* width: 100%; */
    /* height: fit-content; */
    /* background-color: #9b97e0; */
}
footer p{
    padding: 2px;
    border-top:1px #d0d0d0 solid;
}
.footer-nav{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    width: 100%;
    padding-top:2px;
    border-top:1px #d0d0d0 solid;
    /* justify-content: space-between; */
}
.footer-nav .navbar{
    /* width: 49.8%; */
    width: 100%;
    /* justify-content: center; */
    /* background-color: #D0D0D0; */

}
.footer-nav .navbar #navlist1{
    justify-content: center;
}
.footer-nav .navbar #navlist2{
    /* justify-content: flex-end; */
    justify-content: center;
}

@media(min-width:800px){
    body{
        grid-template-rows: 4% 90% 5%;
    }
    .main-content .input-box{
        
        width:70%;
        align-content: center;
        
        /* border:#777777 1px solid; */
        flex-wrap: wrap;
        flex-direction: row;
        /* align-content: center; */
        /* padding: 0.5%; */
        box-sizing: border-box;
        border-radius: 30px;
        /* border-radius:25%; */
        /* align-content: center; */
        /* justify-content: space-around; */
    }
    .main-content .input-box .search-icon{
        width: 25px;
    }
    .main-content .input-box #search-box{
        margin: 0 auto;
        /* opacity: transparent; */
        /* display: hidden; */
        width: 80%;
        /* border:transparent; */
    }
    .main-content .buttons{
        grid-area:buttons;
        font-size: 20px;
    }
    .main-content .buttons .button{
        /* padding: 1%; */
        box-sizing: border-box;
        margin:20px;
        /* padding: 10px; */
        background-color: white;
        border-radius: 8px;
        
    }
    .main-content .buttons .button:hover{
        border:#000 solid 1px;  
    }
}
@media(min-width:1200px){
    body{
        grid-template-rows: 5% 90% 5%;
    }
    .main-content .input-box{
        
        width:800px;
        align-content: center;
        
        /* border:#fff 1px solid; */
        flex-wrap: wrap;
        flex-direction: row;
        /* align-content: center; */
        /* padding: 0.5%; */
        box-sizing: border-box;
        border-radius: 30px;
        /* border-radius:25%; */
        /* align-content: center; */
        /* justify-content: space-around; */
    }
    .main-content .input-box .search-icon{
        width: 25px;
    }
    .main-content .input-box #search-box{
        margin: 0 auto;
        /* opacity: transparent; */
        /* display: hidden; */
        width: 738px;
        /* border:transparent; */
    }   
    .footer-nav{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        width: 100%;
        justify-content: space-around;
    }
    .footer-nav .navbar{
        width: 49%;
    }
    .footer-nav .navbar #navlist1{
        /* width: 49%; */
        /* width: auto; */
        justify-content: flex-start;
    }
    .footer-nav .navbar #navlist2{
        /* width: 49%; */
        /* justify-content: flex-end; */
        justify-content: flex-end;
    }
    
}